@import 'base/variables';
@import 'components/header';
@import 'components/messages';
@import 'components/form';
@import 'layout';

body {
  align-items: center;
  background: linear-gradient(45deg, $color-main, darken($color-main, 5%));
  color: $color-black;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
