header {
  align-items: center;
  background: $color-white;
  border-bottom: 3px solid $color-main;
  border-radius: 5px 5px 0 0;
  display: flex;
  height: 27px;
  justify-content: space-between;
  padding: 20px;
  text-align: center;

  h1 {
    color: $color-main;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .live {
    align-items: center;
    display: flex;

    @keyframes aura {
      0% { box-shadow: 0 0 12px 1px $color-green, inset 0 0 12px 1px $color-green; }
      25% { box-shadow: 0 0 14px 2px $color-green, inset 0 0 14px 2px $color-green; }
      50% { box-shadow: 0 0 18px 3px $color-green, inset 0 0 18px 3px $color-green; }
      75% { box-shadow: 0 0 14px 2px $color-green, inset 0 0 14px 2px $color-green; }
      100% { box-shadow: 0 0 12px 1px $color-green, inset 0 0 12px 1px $color-green; }
    }

    .live-icon {
      animation: aura 4s linear infinite;
      background: $color-green;
      border-radius: 50%;
      box-shadow: 0 0 12px 1px $color-green, inset 0 0 12px 1px $color-green;
      height: 5px;
      margin: 0 20px;
      width: 5px;
    }
  }
}
