header {
  background: $color-white;
  border-bottom: 3px solid;
  border-radius: 5px 5px 0 0;
  color: $color-main;
  font-family: $font-sans;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 20px 50px;
  text-align: center;
  text-transform: uppercase;
}
