.messages {
  background: $color-white;
  padding: 20px;

  @media(max-width: 768px) {
    height: calc(100vh - 180px);
  }

  .messages-list {
    max-height: 400px;
    overflow-y: scroll;

    @media(max-width: 768px) {
      max-height: 100%;
    }
  }

  .message {
    background: $color-light-gray;
    border-radius: 5px;
    margin: 0 0 20px;
    padding: 20px;
  }
}
